.nav {
  background-color: rgb(255, 222, 38);
  float: left;
  position: fixed;
  width: 100%;
  top: 0%;
  margin: 0;
  z-index: 2;
}

.navList {
  margin: 0.4rem;
  padding: 0.4rem;
  align-items: center;
}

.navList a {
  border-radius: 0.3rem;
  display: flex;
  float: right;
  margin-bottom: 0.6rem;
  padding: 0.4rem;
  text-align: center;
}

.navList a:hover {
  background-color: rgb(226, 165, 33);
}

.main {
  min-height: 80vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 4rem;
  padding: 1rem;
  line-height: 1.15;
  color: black;
  font-size: 4rem;
  text-align: center;
  border-radius: 3.5rem;
  background-image: linear-gradient(135deg, #ee0909, #ec9421);
  background-clip: text;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.4s ease 0.3s, color 0.3s ease;
}

.title:hover {
  background-size: 100% 100%;
  color: transparent;
}

.body {
  max-width: 80ch;
  margin: 1rem;
  padding: 0.5rem;
  line-height: 2rem;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 3.5rem;
  font-size: 1.1rem;
  max-width: 50ch;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.info {
  border-radius: 0.4rem 0.6rem 0.4rem 0.6rem;
  border: rgb(180, 180, 180);
  border-width: 3px;
  background-image: linear-gradient(60deg, #808080, #e2e2e2);
  border-style: solid;
  margin: 1.5rem;
  padding: 0.8rem;
  max-width: 30ch;
}

.form{
  margin: 3.5rem;
  padding: 1rem;
}

.input[type=text]{
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.03em;
  resize: none;
  overflow: hidden;
  width: 55ch;
  height: 3.5rem;
}

.submit[type=submit]{
  background-color: rgb(80, 182, 102);
  margin: 1rem;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  border-radius: 0.5rem;
  border: rgb(68, 151, 86);
  font-weight: bold;
  letter-spacing: 0.03em;
  width: 12ch;
  height: 3.5rem;
}