.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  background-color: var(--footer);
  position: absolute;
  width: 100%;
  min-height: 1.5rem;
  bottom: 0;
  padding: 0.75rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav {
  background-color: var(--nav-bg);
  float: left;
  position: sticky;
  width: 100%;
  top: 0%;
  margin: 0;
  z-index: 100;
}

.navList {
  justify-content: center;
  align-items: center;
}

.navList a {
  border-radius: 0.2rem;
  display: flex;
  float: right;
  margin: 0.4rem;
  padding: 0.3rem;
  text-align: center;
}

.navList a:hover,
.navList a:focus {
  background-color: var(--nav-hover);
}

.navList .navItem {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.dropDown {
  display: block;
  float: right;
}

.dropDownBox {
  position: absolute;
  top: 2.7rem;
  right: 10.4rem;
  padding: 0;
  margin: 0;
  display: none;
  background-color: var(--nav-drop-bg);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.5);
  animation: goDown 350ms ease forwards;
  transform-origin: top center;
}

.dropDownBox a {
  padding: 0.4rem;
  margin: 0.3rem;
}

.dropDown:hover .dropDownBtn,
.dropDown:focus .dropDownBtn {
  background-color: var(--nav-hover);
}

.dropDown:hover .dropDownBox,
.dropDown:focus .dropDownBox {
  display: grid;
}

@keyframes goDown {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.main {
  min-height: 80vh;
  padding: 1rem 0;
  padding-bottom: 3.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 1rem;
  padding: 0.5rem;
  line-height: 1.15;
  font-size: 3.5rem;
}

.title {
  background-image: linear-gradient(35deg, #ff285d, #0b27a7);
  background-position: bottom;
  background-size: 0% 5px;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: var(--title);
  transition: background-size 0.6s ease-in-out, color 0.5s ease,
    box-shadow 0.6s ease-in-out;
  opacity: 0;
  transform: translateY(-60%);
  animation: fadeIn 1.3s ease-in-out;
  animation-fill-mode: forwards;
}

.title:hover,
.title:focus {
  background-size: 100% 5px;
  color: var(--title-hover);
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.title,
.description {
  text-align: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subtitle {
  margin: 1.5rem;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.description {
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  background-color: var(--nav-bg);
  box-shadow: 0px 5px 3px -5px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--nav-hover);
  border-radius: 1rem;
  transition: all 0.6s ease;
  height: 12rem;
  width: 38.5ch;
  text-align: center;
}

.card:hover,
.card:focus {
  box-shadow: 0px 10px 6px -5px rgba(0, 0, 0, 0.5);
  color: var(--link);
  border-color: var(--link);
  transform: scale(1.15);
}

.card h2 {
  margin: 0.75rem;
  font-size: 2rem;
}

.card p {
  margin: 0.25rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.body {
  max-width: 100ch;
  line-height: 2rem;
  display: table-column;
}

.body a {
  color: var(--link);
}

.clist li {
  padding: 0.5rem;
}

.picGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.important {
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  color: red;
}

.link {
  color: var(--link);
}